{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}

<h1 class="admin-title">Modifier mon mot de passe</h1>

<div class="container-edit-password">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}

    <div class="form-group row">
        <label class="form-label">{{ form_label(form.currentPassword, 'Mot de passe actuel') }}</label>
        <div class="form-field">
            {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.currentPassword) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="form-label">{{ form_label(form.newPassword.first, 'Nouveau mot de passe') }}</label>
        <div class="form-field">
            {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.newPassword.first) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="form-label">{{ form_label(form.newPassword.second, 'Confirmez le nouveau mot de passe') }}</label>
        <div class="form-field">
            {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.newPassword.second) }}
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn-purple">Modifier</button>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
